PORT=8080
DATABASE_URL=postgres://postgres:postgres@postgres:5432/musicroom?sslmode=disable
JWT_SECRET=
JWT_REFRESH_SECRET=
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=noreply@musicroom.local
SMTP_USER=
SMTP_PASSWORD=
APP_URL=http://localhost:8081
